@mixin flex($ali:null,$jus:null,$gap:null,$dir:row) {
    display: flex;
    align-items: $ali;
    justify-content: $jus;
    gap:$gap;
    flex-direction: $dir;
}

@mixin bgSet($img,$siz:cover,$rep:no-repeat,$pos:center) {
    background-image: url($img);
    background-size: $siz;
    background-repeat: $rep;
    background-position: $pos;
}