// DIMENSIONI
$headerHeigth: 750px;
$headerTopHeigth:100px;
$logoHeigth: 3rem;
// ASSIGNED COLOR
// Color Cube
$TunaColorCube: #353841;
$BurntSiennaColor: #ed6864;
$FrenchGrayColor: #bababc;
$JumboColor: #78787b;
$GoldenrodColor: #fcd66c;
$TabascoColor: #92340f;
// Median cut
$RoseFog: #ebcac5;
$TunaColorMedian: #3e3f47;
$FrenchGrayColor: #bababc;
$JumboColor: #78787b;
$GoldenrodColor: #fcd66c;
$TabascoColor: #92340f;
$MakaraColor: #8d7c6d;
$EdwardColor: #a1aba9;
$RegentGrayColor: #8c9aa5;
// Material design
$BurntSiennaDesignColor: #ea6862;
$GrayChateauColor: #a2abae;
$SambucaColor: #3d2512;
$ThunderColor: #171216;
$PuttyColor: #e9c899;
